black
detect-secrets
h5py
h5tree
imagecodecs
ipywidgets
isort
jupyterlab
numpy
pandas
pqdm
pre-commit
scikit-learn
scipy
seaborn
statannotations
statsmodels
tableone
timm
torch
torchvision
tqdm
transformers
omegaconf
