black
detect-secrets
h5py
h5tree
ipywidgets
isort
jupyterlab
kserve==0.19.0
numpy
pandas
pqdm
pre-commit
scikit-learn
scipy
seaborn
slideflow
statannotations
statsmodels
tableone
timm
torch
torchvision
tqdm
transformers
omegaconf
