fpdf2
joblib
matplotlib
numpy
opencv-python-headless
packaging
pandas
pillow
protobuf
pyvips
rasterio
requests
rich
scikit-image
scikit-learn
scipy
setuptools<81 # 82 removed `pkg_resources`
shapely
tabulate
tqdm
